* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
header {
  background-color: #083a5f;
}
html {
  background: linear-gradient(180deg, #083a5f 15%, #23196f 50%, #156088);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
}
nav .nav-center {
  display: flex;
  align-items: center;
  list-style: none;
}
nav .nav-center li {
  color: white;
  margin: 20px;
  font-size: 1.5rem;
  display: flex;
}

nav .nav-center .home-icon {
  background-image: url("./About-me--assets/piramide-home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

nav .nav-center .menu-icon {
  background-image: url("./About-me--assets/menu-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}
nav .nav-center .logo {
  background-image: url("./About-me--assets/time-traveler-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 80px;
}
.d-none {
  display: none;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.secciones li a {
  display: block;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 2.1rem;
  padding: 10px;
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all ease 0.25s;
}

.secciones li a:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(255, 255, 255, 0.4);
}
h1 {
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding-bottom: 15px;
  font-size: 3.5rem;
  font-weight: 100;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  padding-bottom: 15px;
}
.Photo {
  display: block;
  margin: 0 auto;
  width: 30%;
  border-radius: 120px;
}
.contact-icons {
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: space-evenly;
  gap: 18px;
}
.icons {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.paragraph-container {
  width: 60%;
  margin: 0 auto;
  background: black;
  opacity: 0.35;
  border-radius: 20px;
  background-repeat: no-repeat;
}
p {
  padding: 20px;
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2rem;
}
.skills {
  padding-top: 30px;
  font-weight: 300;
}
.professional-tools-logos--container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 40px;
}
.professional-tools-logos--container img {
  width: 30px;
  height: 30px;
  gap: 20px;
}
